<!DOCTYPE html>
<html lang="en">

<!-- this is a strategy of defining head once (partially) then including in others -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- use your own stylesheet in public dir -->
    <!-- <link rel="stylesheet" href="/app.css">  -->

    <!-- use bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- need jquery for bootstrap -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

