<%- include('partials/head') %> 
<%- include('partials/navbar') %> 
<body>

    <h1>EJS App</h1>
    <!-- <%= %> tag is embedded js variables -->
    <!-- <%  %> adds js logic without anything being rendered  -->
</body>

</html>