<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farms</title>
</head>

<body>
    <h1>All Farms</h1>
    <ul>
        <% for (let f of farms) { %>
            <li>
                <a href="/farms/<%= f._id %>">
                    <%= f.name %>
                </a>
            </li>
            <% } %>
    </ul>

    <a href="/farms/new">Add New Farm</a>
</body>

</html>