<div class="mt-3">
    <footer class="footer bg-dark pb-8 mt-10 pt-10 fixed-bottom">
        <div class="container mt-10">
            <span class="text-muted">&copy; YelpCamp 2022</span>
        </div>
    </footer>
</div>